.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "sidebar body" 1fr
    / 255px 1fr;
  gap: 8px;
}

.sidebar { grid-area: sidebar; }
.body { grid-area: body; }

.bg-color{
  background-color: #F7F6FB;
}